* {
  box-sizing: border-box;
}

html {
  background-color: #808080;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Movie Info */
.movie-info-container {
  border: 3px solid white;
  border-radius: 10%;
  display: flex;
  margin: 10px auto;
  padding: 25px;
  width: 750px;
}

.movie-info-container img {
  height: auto;
  max-height: 500px;
  width: 300px;
}

.movie-info {
  margin: 0 auto;
  width: 250px;
}

.movie-info h1 {
  font-family: 'Limelight', cursive;
}

.footer {
  font-family: 'Limelight', cursive;
}

/* Carousel */
.carousel-container {
  height: 600px;
  margin: 25px auto;
  padding-bottom: 50px;
  width: 100%,

}


.carousel-container img {
  cursor: pointer;
}

/* Upcoming Movie Container */
.upcoming-movie-container {
  margin: 0 auto;
  width: 50%
}


/* Footer */

.footer {
  height: 500px;
  margin: 0 auto;
  width: 80%
}


